@model List<CleanArchIdentityDemo.Application.DTOs.BackupManualDto>


<!-- Backups Manuales -->
<table class="table table-striped align-middle">
    <thead class="table-light">
        <tr>
            <th>Archivo</th>
            <th>Fecha</th>
            <th>Tamaño</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="8" class="text-center">No hay backups manuales creados aún.</td>
            </tr>
        }
        else
        {
            @foreach (var backup in Model)
            {
                <tr>
                    <td>@backup.NombreArchivo</td>
                    <td>@backup.FechaCreacion.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@backup.TamanoFormateado</td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <!-- Descargar -->
                                    <a asp-page-handler="DescargarBackup"
                                       asp-route-urlDescarga="@backup.UrlDescarga"
                                       asp-route-nombreBackup="@backup.NombreArchivo"
                                       class="btn btn-info btn-sm me-1"
                                       title="Descargar">
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                </div>
                                <div class="col">
                                    <!-- Eliminar -->
                                    <button class="btn btn-sm btn-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modalEliminarBackup"
                                            data-backupNombre="@backup.NombreArchivo"
                                            data-backupUrl="@backup.UrlDescarga">
                                        <i class="fas fa-trash-alt"></i> Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>