@page
@model CleanArchIdentityDemo.WebUI.Pages.SupervisorProyectos.DashboardModel
@{
    ViewData["Title"] = "Dashboard de Proyectos";
}

<h2 class="fw-bold mb-3">Dashboard de proyectos</h2>
<p class="text-muted mb-4">Visualiza el estado general de tus proyectos y accede rápidamente a los detalles.</p>

<div class="row g-4">
    @foreach (var proyecto in Model.Proyectos)
    {
        <div class="col-md-4 col-lg-3">
            <div class="card shadow p-3 mb-5 bg-body rounded border-0 h-100">
                <div class="card-body">
                    <h5 class="fw-bold">@proyecto.Nombre</h5>
                    <p class="text-muted mb-3">@proyecto.Descripcion</p>

                        @if (proyecto.IdEstadoProyecto == 1)
                        {
                            <p class="badge bg-primary">@proyecto.EstadoProyecto</p>

                        }
                        @if (proyecto.IdEstadoProyecto == 2)
                        {
                            <p class="badge bg-success">@proyecto.EstadoProyecto</p>
                        }
                        @if (proyecto.IdEstadoProyecto == 3)
                        {
                            <p class="badge bg-secondary">@proyecto.EstadoProyecto</p>
                        }

                    <div class="flex gap-2 mb-2">
                        <p class="mb-1"><strong>Avance:</strong> @proyecto.PorcentajeAvance %</p>
                        <p class="mb-1"><strong>Presupuesto:</strong> ₡@proyecto.Presupuesto.ToString("N0")</p>
                        <p class="mb-0"><strong>Finaliza:</strong> @proyecto.FechaFinalPropuesta.ToShortDateString()</p>
                        @if(proyecto.Desviacion < 0)
                        {
                            <p class="mb-0 text-danger"><strong>Desviación:</strong> ₡@proyecto.Desviacion</p>
                        }
                        else
                        {
                            <p class="mb-0 text-success"><strong>Desviación:</strong> ₡@proyecto.Desviacion</p>
                        }

                    </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a asp-page="DetallesProyecto" asp-route-CodigoProyecto="@proyecto.CodigoProyecto" class="btn btn-outline-primary btn-sm w-100">
                                    Ver detalles
                                </a>
                            </div>
                            <div class="col">
                                <!-- Boton que abre el Ver avance -->
                                <button class="btn btn-outline-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#verAvanceModal">
                                    Ver avance
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @* Scritp para abrir el modal de Ver avance *@
}




