@page
@model CleanArchIdentityDemo.WebUI.Pages.SupervisorProyectos.ListaProyectosModel
@{
}


<!-- Botón para abrir modal Crear proyecto -->
<button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#crearProyectoModal">
    Nuevo Proyecto
</button>

<!-- Tabla de Proyectos -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Fecha final propuesta</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Proyectos.Count != null && Model.Proyectos.Any()){
           @foreach (var proyecto in Model.Proyectos)
                {
                  <tr>
                    <td>@proyecto.CodigoProyecto</td>
                    <td>
                        <a asp-page="./DetallesProyecto" asp-route-CodigoProyecto="@proyecto.CodigoProyecto">@proyecto.Nombre</a>
                            <div class="mt-2">
                                <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @proyecto.PorcentajeAvance%;" aria-valuenow="@proyecto.PorcentajeAvance" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            <span class="text-xs text-gray-500">@proyecto.PorcentajeAvance%</span>
                            </div>
                       
                    </td>
                        <td>@proyecto.EstadoProyecto</td>
                        <td>@proyecto.FechaFinalPropuesta.Date</td>
                        <td>
                            <button class="btn btn-sm btn-warning"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editarProyectoModal"
                                    data-CodigoProyecto="@proyecto.CodigoProyecto"
                                    data-NombreProyecto="@proyecto.Nombre"
                                    data-DescripcionProyecto="@proyecto.Descripcion"
                                    data-ProyectoFechaFinal="@proyecto.FechaFinalPropuesta"
                                    data-ProyectoPresupuesto="@proyecto.Presupuesto">
                            <i class="fas fa-edit"></i>  Editar
                               
                            </button>
                        </td>
                    <td>
                        <form method="post" asp-page-handler="Delete" asp-route-CodigoProyecto="@proyecto.CodigoProyecto" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger"
                                    onclick="return confirm('¿Estás seguro de que deseas eliminar este proyecto?')">
                                <i class="fas fa-trash"></i> Eliminar
                            </button>
                        </form>
                    </td>
                  </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No hay proyectos disponibles.</td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal crear proyecto -->
<div class="modal fade" id="crearProyectoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Create">
                <div class="modal-header">
                    <h5 class="modal-title">Crear nuevo proyecto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label>Nombre</label>
                        <input asp-for="NuevoProyecto.Nombre" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Descripcion</label>
                        <input asp-for="NuevoProyecto.Descripcion" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Fecha finalización</label>
                        <input asp-for="NuevoProyecto.FechaFinalPropuesta"
                               type="date"
                               class="form-control"
                               min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="mb-3">
                        <label>Presupuesto</label>
                        <input asp-for="NuevoProyecto.Presupuesto" type="number" min="1" step="1" value="1" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>   
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal editar proyecto -->
<div class="modal fade" id="editarProyectoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Edit">
                <div class="modal-header">
                    <h5 class="modal-title">Editar proyecto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="hidden" asp-for="ProyectoEditado.CodigoProyecto" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label>Nombre</label>
                        <input asp-for="ProyectoEditado.Nombre" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Descripcion</label>
                        <input asp-for="ProyectoEditado.Descripcion" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Fecha finalización</label>
                        <input asp-for="ProyectoEditado.FechaFinalPropuesta" type="date" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Presupuesto</label>
                        <input asp-for="ProyectoEditado.Presupuesto" type="number" min="1" step="1" value="1" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Llenar modal Editar con datos del botón pulsado
        var editUserModal = document.getElementById('editarProyectoModal');
        editUserModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var NombreProyecto = button.getAttribute('data-NombreProyecto');
            var CodigoProyecto = button.getAttribute('data-CodigoProyecto');
            var DescripcionProyecto = button.getAttribute('data-DescripcionProyecto');
            var ProyectoFechaFinal = button.getAttribute('data-ProyectoFechaFinal');
            var ProyectoPresupuesto = button.getAttribute('data-ProyectoPresupuesto');

            document.getElementById('ProyectoEditado_Nombre').value = NombreProyecto;
            document.getElementById('ProyectoEditado_CodigoProyecto').value = CodigoProyecto;
            document.getElementById('ProyectoEditado_Descripcion').value = DescripcionProyecto;
            document.getElementById('ProyectoEditado_FechaFinalPropuesta').value = ProyectoFechaFinal ? new Date(ProyectoFechaFinal).toISOString().slice(0, 10) : '';
            document.getElementById('ProyectoEditado_Presupuesto').value = ProyectoPresupuesto;
        });
    </script>
}
