@page
@model CleanArchIdentityDemo.WebUI.Pages.SupervisorProyectos.ListaProyectosModel
@{
}
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11; margin-top: 25px;">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" id="successToast">
            <div class="d-flex">
                <div class="toast-body">
                    <i class="fas fa-check-circle me-2"></i>
                    @TempData["SuccessMessage"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" id="errorToast">
            <div class="d-flex">
                <div class="toast-body">
                    <i class="fas fa-exclamation-circle me-2"></i>
                    @TempData["ErrorMessage"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }

    @if (TempData["WarningMessage"] != null)
    {
        <div class="toast align-items-center text-white bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true" id="warningToast">
            <div class="d-flex">
                <div class="toast-body">
                    <i class="fas fa-exclamation-triangle me-2"></i>
                    @TempData["WarningMessage"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }

    @if (TempData["InfoMessage"] != null)
    {
        <div class="toast align-items-center text-white bg-info border-0" role="alert" aria-live="assertive" aria-atomic="true" id="infoToast">
            <div class="d-flex">
                <div class="toast-body">
                    <i class="fas fa-info-circle me-2"></i>
                    @TempData["InfoMessage"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }
</div>

<!-- Botón para abrir modal Crear proyecto -->
<button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#crearProyectoModal">
    Nuevo Proyecto
</button>

<!-- Tabla de Proyectos -->
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Progreso</th>
            <th>Estado</th>
            <th>Fecha inicio propuesta</th>
            <th>Fecha final propuesta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Proyectos.Count != null && Model.Proyectos.Any()){
           @foreach (var proyecto in Model.Proyectos)
                {
                  <tr>
                    <td>
                        @proyecto.CodigoProyecto
                    </td>
                    <td>
                        @proyecto.Nombre
                    </td>
                    <td>
                        <div class="mt-2">
                            <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @proyecto.PorcentajeAvance%;" aria-valuenow="@proyecto.PorcentajeAvance" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="text-xs text-gray-500">@proyecto.PorcentajeAvance%</span>
                        </div>
                    </td>
                    <td>
                        @if (proyecto.IdEstadoProyecto == 1)
                        {
                            <p class="badge bg-primary">@proyecto.EstadoProyecto</p>
                            
                        }
                        @if (proyecto.IdEstadoProyecto == 2)
                        {
                            <p class="badge bg-success">@proyecto.EstadoProyecto</p>
                        }
                        @if (proyecto.IdEstadoProyecto == 3)
                        {
                            <p class="badge bg-secondary">@proyecto.EstadoProyecto</p>
                        }
                    </td>
                    <td>
                        @(proyecto.FechaInicioPropuesta.HasValue ? proyecto.FechaInicioPropuesta.Value.ToShortDateString() : "Sin dato de inicio")
                    </td>
                    <td>
                        @proyecto.FechaFinalPropuesta.ToShortDateString()
                    </td>
                        <td>
                            <div class="container">
                                <div class="row">
                                    <div class="col">

                                        <button class="btn btn-sm btn-warning"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editarProyectoModal"
                                                data-CodigoProyecto="@proyecto.CodigoProyecto"
                                                data-NombreProyecto="@proyecto.Nombre"
                                                data-DescripcionProyecto="@proyecto.Descripcion"
                                                data-ProyectoFechaInicial="@proyecto.FechaInicioPropuesta"
                                                data-ProyectoFechaFinal="@proyecto.FechaFinalPropuesta"
                                                data-ProyectoPresupuesto="@proyecto.Presupuesto">
                                            <i class="fas fa-edit"></i>  Editar

                                        </button>
                                    </div>
                                    <div class="col">
                                       
                                        <form method="post" asp-page-handler="Delete" asp-route-CodigoProyecto="@proyecto.CodigoProyecto" style="display:inline;">
                                            <button type="submit" class="btn btn-sm btn-danger"
                                                    onclick="return confirm('¿Estás seguro de que deseas eliminar este proyecto?')">
                                                <i class="fas fa-trash"></i> Eliminar
                                            </button>
                                        </form>
                                    </div>
                                <div class="col">
                                    <a class="btn btn-sm btn-info" asp-page="./DetallesProyecto" asp-route-CodigoProyecto="@proyecto.CodigoProyecto">Ver detalles <i class="fa-solid fa-eye"></i></a>
                                </div>
                                </div>
                            </div>
                                
                        </td>
                  </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No hay proyectos disponibles.</td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal crear proyecto -->
<div class="modal fade" id="crearProyectoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Create">
                <div class="modal-header">
                    <h5 class="modal-title">Crear nuevo proyecto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label>Nombre</label>
                        <input asp-for="NuevoProyecto.Nombre" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Descripcion</label>
                        <input asp-for="NuevoProyecto.Descripcion" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Fecha inicio</label>
                        <input asp-for="NuevoProyecto.FechaInicioPropuesta"
                               type="date"
                               class="form-control"
                               min="@DateTime.Now.ToString("yyyy-MM-dd")" required/>
                    </div>
                    <div class="mb-3">
                        <label>Fecha finalización</label>
                        <input asp-for="NuevoProyecto.FechaFinalPropuesta"
                               type="date"
                               class="form-control"
                               min="@DateTime.Now.ToString("yyyy-MM-dd")" required/>
                    </div>
                    <div class="mb-3">
                        <label>Presupuesto</label>
                        <input asp-for="NuevoProyecto.Presupuesto" type="number" min="1" step="1" value="1" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>   
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal editar proyecto -->
<div class="modal fade" id="editarProyectoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Edit">
                <div class="modal-header">
                    <h5 class="modal-title">Editar proyecto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="hidden" asp-for="ProyectoEditado.CodigoProyecto" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label>Nombre</label>
                        <input asp-for="ProyectoEditado.Nombre" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Descripcion</label>
                        <input asp-for="ProyectoEditado.Descripcion" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Fecha finalización</label>
                        <input asp-for="ProyectoEditado.FechaInicioPropuesta" type="date" class="form-control" required/>
                    </div>
                    <div class="mb-3">
                        <label>Fecha finalización</label>
                        <input asp-for="ProyectoEditado.FechaFinalPropuesta" type="date" class="form-control" required/>
                    </div>
                    <div class="mb-3">
                        <label>Presupuesto</label>
                        <input asp-for="ProyectoEditado.Presupuesto" type="number" min="1" step="1" value="1" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        //script que hace funcionar las alertas
        document.addEventListener('DOMContentLoaded', function() {
            // Mostrar todos los toasts que existan
            var toastElList = [].slice.call(document.querySelectorAll('.toast'));
            var toastList = toastElList.map(function(toastEl) {
                return new bootstrap.Toast(toastEl, {
                    autohide: true,
                    delay: 3000  // 3 segundos
                });
            });

            // Activar cada toast
            toastList.forEach(toast => toast.show());
        });
    </script>
    <script>
        // Llenar modal Editar con datos del botón pulsado
        var editUserModal = document.getElementById('editarProyectoModal');

        editUserModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;

            
            var NombreProyecto = button.getAttribute('data-NombreProyecto');
            var CodigoProyecto = button.getAttribute('data-CodigoProyecto');
            var DescripcionProyecto = button.getAttribute('data-DescripcionProyecto');
            var ProyectoFechaFinal = button.getAttribute('data-ProyectoFechaFinal');
            var ProyectoPresupuesto = button.getAttribute('data-ProyectoPresupuesto');
            var ProyectoFechaInicial = button.getAttribute('data-ProyectoFechaInicial');

           
            document.getElementById('ProyectoEditado_Nombre').value = NombreProyecto ?? '';
            document.getElementById('ProyectoEditado_CodigoProyecto').value = CodigoProyecto ?? '';
            document.getElementById('ProyectoEditado_Descripcion').value = DescripcionProyecto ?? '';

         
            let fechaValida = '';
            if (ProyectoFechaFinal && !isNaN(new Date(ProyectoFechaFinal))) {
                fechaValida = new Date(ProyectoFechaFinal).toISOString().slice(0, 10);
            }
            let fechaInicialValida = '';
            if (ProyectoFechaInicial && !isNaN(new Date(ProyectoFechaInicial))) {
                fechaInicialValida = new Date(ProyectoFechaInicial).toISOString().slice(0, 10);
            }
            document.getElementById('ProyectoEditado_FechaInicioPropuesta').value = fechaInicialValida;
            document.getElementById('ProyectoEditado_FechaFinalPropuesta').value = fechaValida;
            document.getElementById('ProyectoEditado_Presupuesto').value = ProyectoPresupuesto ?? '';
        });
    </script>
}
